##############################################################################
### Windows ###
##############################################################################
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

##############################################################################
### OSX ###
##############################################################################
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

##############################################################################
### Linux ###
##############################################################################
.*
!.cpd.yaml
!.eslintignore
!.eslintrc.js
!.gitignore
!.jsinspectrc
!.editorconfig
!.dockerignore
!.maven-dockerignore
!.nvmrc
!.yo-rc.json

!.git*
!.idea
*~
*.bak

##############################################################################
### Intellij ###
##############################################################################
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
# see: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

## Directory-based project format
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/*
.idea/artifacts/*
.idea/compiler.xml
.idea/modules.xml
.idea/encodings.xml
#.idea/inspectionProfiles/*
#.idea/jsLinters/*
.idea/findbugs-idea.xml
# See http://stackoverflow.com/a/18663833
#.idea/misc.xml
.idea/vcs.xml


## File-based project format
*.ipr
*.iml
*.iws

## Additional for IntelliJ
out/

# generated by mpeltonen/sbt-idea plugin
.idea_modules/

# generated by JIRA plugin
atlassian-ide-plugin.xml

# generated by Crashlytics plugin (for Android Studio and Intellij)
com_crashlytics_export_strings.xml

# phantom-js
test-results.xml

##############################################################################
### Node ###
##############################################################################

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Generated map files to debug compressed or compiled JS files
*.map

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

##############################################################################
### Maven ###
##############################################################################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

##############################################################################
### Project specific ###
##############################################################################

# auto-generated files
dist
